body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  flex-grow: 1;
  max-width: 280px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
