.cards-containe {
  display: flex;
}

.film-cards {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32;
    column-gap: 32px;

    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 16px;
  }
}

.film {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 32px) / 3);
  }
}

.film__body-img {
  max-height: 402x;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    max-height: 455px;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    height: auto;
    width: 100%;
  }

  .film__img {
    width: 100%;
    height: auto;
  }
}

.film__name {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px calc(16 / 12);
  text-transform: uppercase;

  color: #000000;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.film__detalies {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  color: #ff6b08;

  .film__rating {
    display: block;
    width: 36px;
    height: 16px;
    margin-left: 8px;

    background: #ff6b01;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}
