:root {
  --primari-font: 'Roboto', sans-serif;
  --primari-font-weight: 500;
  --primari-text-color: #000000;
  --secondary-text-color: #8c8c8c;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list-modal-items {
  list-style: none;
}

.modal-film-card {
  // position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  width: 280px;
  height: 940px;
  // left: 20px;
  // top: 20px;

  background: #ffffff;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 68px;
    width: 704px;
    height: 552px;
    padding-right: 72px;

    padding-left: 36px;
  }

  @media screen and (min-width: 1280px) {
    gap: 12px;
    width: 806px;
    height: 558px;
    padding-right: 12px;

    padding-left: 12px;
  }
}

.modal-card-film-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: var(--transition-dur-and-func);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.modal-card-film-close-btn-icon {
  z-index: 999;
  fill: #000000;
  transition: var(--transition-dur-and-func);

  .modal-franchise-close-btn:hover &,
  .modal-franchise-close-btn:focus & {
    fill: var(--accent-color);
  }
}

.box-img {
  width: 240px;
  height: 357px;
  // padding-top: 40px;
  // padding-right: 20px;
  // padding-bottom: 20px;
  // padding-left: 20px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373.55px;
    // padding-top: 40px;
    // padding-right: 68px;
    // padding-bottom: 138.5px;
    // padding-left: 36px;
    border-radius: 5px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
    // padding-top: 40px;
    // padding-right: 16px;
    // padding-bottom: 40px;
    // padding-left: 12px;
    border-radius: 5px;
  }
}

// .img-card-modal {
//     display: block;
//         width: 100%;
//         height: auto;
// }

.name-film {
  // position: absolute;
  //   width: 266px;
  //   height: 31px;
  //   left: 640px;
  //   top: 190px;
  // margin: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: var(--primari-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;

  color: var(--primari-text-color);

  @media screen and (min-width: 768px) {
    // margin-left: 0px;

    // margin-right: 72px;
    margin-top: 0px;
  }

  @media screen and (min-width: 1280px) {
    // margin-right: 137px;

    font-size: 30px;
    line-height: 35px;
  }
}

.box-film-params {
  display: flex;
  gap: 41px;
  // padding-left: 20px;
  @media screen and (min-width: 1280px) {
    gap: 85px;
  }
}

// .modal-box-key{
//     padding-right: 41px;
//     @media screen and (min-width: 1280px) {
//             padding-right: 85px;

//         }
// }

.list-modal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  // padding-right: 41px;
  @media screen and (min-width: 1280px) {
    // padding-right: 85px;
  }
}

.list-modal-items__params {
  display: flex;
  // flex-direction: column;
  // gap: 8px;
  // justify-content: space-between;
  font-family: var(--primari-font);
  font-style: normal;
  font-weight: var(--primari-font-weight);
  font-size: 12px;
  line-height: 1, 33;
  color: var(--secondary-text-color);
}

.list-modal-items__params-value {
  font-family: var(--primari-font);
  font-style: normal;
  font-weight: var(--primari-font-weight);
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */

  color: var(--primari-text-color);
}
.list-modal-items__params-value-average {
  // padding-right: 10px;
  // padding-left: 10px;
  width: 36px;
  height: 16px;
  font-family: var(--primari-font);
  font-style: normal;
  font-weight: var(--primari-font-weight);
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */

  text-align: center;
  // text-transform: uppercase;
  background-color: #ff6b01;
  border-radius: 5px;

  color: #ffffff;
}

.discription__params {
  display: flex;
  flex-direction: column;
  gap: 8px;
  // padding-left: 20px;
  margin-top: 20px;
  // margin-bottom: 8px;
  font-family: var(--primari-font);
  font-style: normal;
  font-weight: var(--primari-font-weight);
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  /* identical to box height, or 133% */

  color: var(--primari-text-color);
}

.items__value {
  font-family: var(--primari-font);
  font-style: normal;
  font-weight: var(--primari-font-weight);
  font-size: 12px;
  line-height: 1.66;
  /* or 167% */
  text-transform: none;

  color: var(--primari-text-color);
  // @media screen and (min-width: 768px) {
  //         width: 264px;

  //     }
}

.box-modal-btn {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  display: flex;
  gap: 20px;

  @media screen and (min-width: 768px) {
    margin-left: 0px;
    gap: 15px;
  }
}

.modal-watched-btn-hower,
.modal-queue-btn-hower {
  color: var(--primari-text-color);
  background: #ffffff;
  &:hover {
    background: #ff6b01;
    color: #ffffff;
  }
  &:focus {
    background: #ff6b01;
    color: #ffffff;
  }
}

.modal-watched-btn,
.modal-queue-btn {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 110px;
  height: 44px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;

  color: var(--primari-text-color);
  background: #ffffff;

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}
