@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

.slider-wrapper {
  background-color: rgb(247, 247, 247);
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-size: 13px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.glide__arrow {
  background-color: #ff6b08;
}

.slider-card {
  margin-right: 8px;
}

.slider-title {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;

  color: #ff6b08;
  font-family: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);

  background: -webkit-linear-gradient(10deg, 
  rgb(61,67,73), rgb(114,75,88), rgb(174,50,59));
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: background-animate 10s infinite ease-in-out;
}

.slider-image {
  border-radius: 5px;
}

.rating-slider {
  position: relative;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  
  height: 18px;

  font-weight: 500;
  font-size: 13px;
  line-height: 1.1;
  color: #ffffff;
  background-color:rgb(146,50,66);
  border-radius: 5px;
}

// from trailler

.slider-card .btn-youtube-slider {
  width: 100px;
}

.slider-card .overlay-btn-youtube-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 19px;
  width: 70px;

  pointer-events: none;
  font-family: 'Roboto', sans-serif;

  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 5px;
  top: 5px;
  left: 75px;
  z-index: 2;
  opacity: 0;
  transform: translateX(-63%);
  transition: all 400ms ease-in;
}

.slider-card:hover .overlay-btn-youtube-text {
  display: flex;
  opacity: 1;
  transform: translateX(-63%);
}

.btn-youtube-text-slider {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #c4302b;
  cursor: pointer;
  margin: 0;
  z-index: 5;
}
